<main [formGroup]="appForm" class="main-class" fxLayout="column" fxLayoutAlign="center center">

<!-- User names -->
<div class="mt-5 user-box">
  <mat-form-field color="warn" appearance="outline"  [ngClass]="{'form-field' : isNameSelected}" class="w-100">
    <mat-label>User name</mat-label>
      <input
      [mentionConfig]="mentionConfig"
      rows="5"
      [ngClass]="{'name-selected' : isNameSelected}"
      matInput
      (itemSelected)="itemSelected($event)"
      formControlName="userNames"
      placeholder="Enter @ to tag user">
  </mat-form-field>
</div>
<!--/ User names -->

<!-- Reset button -->
<div class="mt-3 cursor-pointer">
  <button fxFlex="80px" type="button" [disabled]="names?.value.length < 2" (click)="clear()" mat-raised-button
  color="primary" class="font-weight-bold reset-button"> Reset </button>
</div>
<!--/ Reset button -->

</main>

